@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Karla:wght@300;400;500;700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./blob_5.png"), url("../blobs.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
}

header > h2 {
    margin-bottom: 0;
    font-size: 3rem;
    color: #293264;
    font-family: 'Karla', sans-serif;
}

p {
    font-family: "Inter", sans-serif;
    color: #293264;
    font-size: 1.2rem;
}

button {
    width: 200px;
    border: none;
    color: #F5F7FB;
    background-color: #4D5B9E;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

