@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Karla:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    color: #293264;
    font-family: "Inter", sans-serif;
}

h3 {
    font-weight: 500;
}

.answers {
    display: flex;
    gap: 30px;
}

.indAnswer {
    font-size: 0.8rem;
    border: 1px solid #293264;
    padding: 7px 14px;
    border-radius: 10px;
}

.indAnswer:hover {
    background-color: #D6DBF5;
    color: #293264;
    cursor: pointer;
}

@media screen and (max-width: 970px) {
    .answers {
        flex-wrap: wrap;
        gap: 15px;
    }

    .indAnswer {
        margin: 0;
    }
}